<h1 class="page-top"><%= @movie.title %></h1>
<div>
  <%= link_to "Editar este Filme", edit_movie_path(@movie), class:"new-button" %> |
  <%= link_to "Voltar a lista de Filmes", movies_path, class:"new-button", style:"margin-left: 0"%>
  <%= button_to "Deletar este filme", @movie, method: :delete, class:"delete-button" %>
</div>
<% if user_signed_in? %>
  <div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Listas </button>
    <ul class="dropdown-menu">
    
    <% if current_user.check_list("favorite", @movie.id) %>
      <li> <%= button_to 'Remover Favoritos', remove_list_movie_path(@movie, list: "favorite"), method: :post, class:"dropdown-item" %></li>
    <% else %>
      <li> <%= button_to 'Adicionar Favoritos', add_list_movie_path(@movie, list: "favorite"), method: :post, class:"dropdown-item"  %></li>
    <% end %>
    
    <% if current_user.check_list("to_watch", @movie.id) %>
      <li> <%= button_to 'Remover Quero assistir', remove_list_movie_path(@movie, list: "to_watch"), method: :post, class:"dropdown-item"  %></li>
    <% else %>
      <li> <%= button_to 'Adicionar Quero assistir', add_list_movie_path(@movie, list: "to_watch"), method: :post, class:"dropdown-item"  %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="film-show">
<%= render @movie %>
  
</div>



