<h1 class="page-top"><%= @movie.title %></h1>
<div>
  <%= link_to "Editar este Filme", edit_movie_path(@movie), class:"new-button" %> |
  <%= link_to "Voltar a lista de Filmes", movies_path, class:"new-button", style:"margin-left: 0"%>
  <%= button_to "Deletar este filme", @movie, method: :delete, class:"delete-button" %>
</div>
<% if user_signed_in? %>
  <div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Adicionar a uma lista </button>
    <ul class="dropdown-menu">
      <li> <%= button_to 'Favoritos', add_list_movie_path(list: "favorite"), method: :post, class:"dropdown-item", disabled: current_user.check_list("favorite", @movie.id) %></li>
      <li> <%= button_to 'Quero assistir', add_list_movie_path(list: "to_watch"), method: :post, class:"dropdown-item", disabled: current_user.check_list("to_watch", @movie.id) %></li>
    </ul>
  </div>
<% end %>

<div id="film-show">
<%= render @movie %>
  
</div>



