<div id="listagem-filme">
  <% movies.each_with_index do |movie, index| %>
    <div id=<%="movie-#{index}"%>>
      <%= link_to movie_path(movie) do%>
        <% if movie.picture.attached?%>
          <%= image_tag(movie.picture, alt: movie.title) %>
        <% else %>
          <%= image_tag("img_padrao.jpg", alt: movie.title) %>    
        <% end %>
        <div>
          <p id="titulo" >
            <%= movie.title %>
          </p>
          <p id="sub-titulo">
            <%= movie.ano_de_lancamento %>
            <%= movie.foi_lancado ? "Ja lançado" : "Em breve nos cinemas" %>
          </p>
        </div>
      <% end %>
      
      <% unless list.nil? %>
        <%= button_to 'Remover', remove_list_movie_path(movie, list: list.category) %>
      <% end %>
      
        </div>
      <% end %>
    </div>
  <% end %>
</div>